/* Nav bar container */
nav {
  position:fixed;
  top:0;
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 120px;
  background-color: #4056A1;
  color: #FFFFFF;
  justify-content: space-between;
}


/* Title on the left */

.nav-title {
  margin: 1.5em;
  font-family: Bungee, sans-serif;
}

/* "Write a tweet button on the right */
.newtweet-btn  {
  margin-top: 1.5em;
  margin-right: 1.5em;
}
.newtweet-btn:hover {
  cursor: pointer;
}
.newt {
  margin-top: 1.5em;
  font-family: 'Source Sans Pro', sans-serif;
  font-style: italic;
}
.write {
  font-weight: bold;
}

.nav-newt {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.arrow {
  margin-top: 0.4em;
  margin-right: 1em;
  color: salmon;
}



/* Back to top button */
#send-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
  background-color: #4056A1;
  box-shadow: 0px 0px 10px #4056A1;
  border-radius: 100%;
  width: 1.5em;
  height: 1.5em;

}



