/* New tweet form */
form {
  border-radius: 5px;
}

.new-tweet-base {
  display: none;
  font-weight: 300;
  max-width: 100%;
  width: 100%;
  overflow: auto;
  padding: 5%;

}

.new-tweet-base h2 {
  color: #4056A1;
  border-bottom: 3px solid #4056A1;
  font-size: 1.5em;
  text-align: left;
}

textarea {
  resize: none;
  border: none;
  border-bottom: 5px solid #4056A1;
  margin-bottom: 0.5em;
  padding: 2%;
  width: 100%;
  background-color: #f4f1ec;
}

/* Removes default outline on focus */
textarea:focus {
  outline: 0;
}


.counter {
  float: right;
  font-style: italic;
  font-weight: bold;
  color: #4056A1;
}

.submit-btn {
  float: left;
  font-family: Bungee, sans-serif;
  color: white;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #4056A1;
}

.warn {
  color: rgba(223, 72, 72);
  font-weight: bold;
}

/* Error only visible when user input is incorrect */
#new-tweet-error {
  display:none;
  position:relative;
  width:100%;
  color: rgba(223, 72, 72);
  margin-top: 2rem;
  padding: 1rem;
  border:red solid 2px ;
  min-height: 4rem;
  text-align: center;
}

